*.o
*.gch
*.pch
*.a
*.la
*.lo
*.so
*.so.*

*.pyc

__pycache__
.out

.cproject
.project
.settings
.pydevproject


/test/emi_test
/test/emi_unit_test
/test/unit_test/*
!/test/unit_test/*.c
!/test/unit_test/*.cpp
